.Order {
  width: 80%;
  background: linear-gradient(#e27b36, #bc581e);
  box-shadow: 0.1em 0.2em 0.04em rgba(0, 0, 0, 0.25);
  text-shadow: 0.1em 0.1em 0.04em rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Ingredient {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 8px;
  border: 1px solid #ccc;
  padding: 5px;
}
