.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: none;
  border-bottom: 4px dashed black;
  background-color: transparent;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-shadow: 0.1em 0.1em 0.04em rgba(0, 0, 0, 0.35);
  color: white;
  box-shadow: 0 4px 6px -6px #222;
  font-weight: bold;
  transition: all 0.3s;
}

.InputElement:hover,
.InputElement:focus {
  outline: none;
  border-bottom: 4px dashed white;
}

.Select option {
  color: white;
  text-shadow: none;
  background-color: #1b1b1b;
  font-weight: bold;
}

.InputElement::placeholder {
  color: black;
  text-shadow: none;
}
.Invalid {
  border-bottom: 4px dashed rgb(255, 0, 0);
}

.ValidationError {
  color: white;
  margin: 5px 0 0 0;
  text-shadow: 0.1em 0.1em 0.04em rgba(0, 0, 0, 0.35);
  font-weight: bold;
}
