.BuildControls {
  width: 100%;
  background: linear-gradient(#e27b36, #bc581e);
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  padding: 10px 0;
  text-shadow: 0.1em 0.1em 0.04em rgba(0, 0, 0, 0.5);
}

.OrderButton {
  background: linear-gradient(#00b837, #008a29);
  background-color: #018328;
  outline: none;
  cursor: pointer;
  border-radius: 2em;
  transition: all 0.2s;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  color: white;
  border: none;
  box-shadow: 0.1em 0.2em 0.04em rgba(0, 0, 0, 0.25);
  text-shadow: 0.1em 0.1em 0.04em rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

.OrderButton:hover,
.OrderButton:active {
  background: #008a29;
}

.OrderButton:disabled {
  background: #ac9980;
  background-color: #ac9980;
  cursor: not-allowed;
  text-shadow: 0em 0.05em 0.04em rgba(0, 0, 0, 0.5);
  color: black;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
