.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0.1em 0.2em 0.04em rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
  color: white;
  text-shadow: 0.1em 0.1em 0.04em rgba(0, 0, 0, 0.5);
}

.BuildControl button:disabled {
  background: none;
  background-color: #ac9980;
  border: none;
  color: black;
  text-shadow: none;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 130px;
}

.BuildControl .Less {
  background: linear-gradient(#ff1313, #c71717);
  background-color: #c71717;
  transition: all 0.2s;
  font-weight: bold;
}

.BuildControl .More {
  background: linear-gradient(#00b837, #008a29);
  background-color: #018328;
  transition: all 0.2s;
  font-weight: bold;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background: #b82727;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background: #008a29;
}
