.NavigationItem {
  margin: 10px 3px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  transition: all 0.2s;
  font-weight: bold;
  color: white;
}

.NavigationItem a:active,
.NavigationItem a.active {
  color: #00942c;
  text-shadow: 0.1em 0.1em 0.04em rgba(0, 0, 0, 0.5);
}

@media (min-width: 500px) {
  .NavigationItem {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    color: black;
    height: 100%;
    padding: 18px 10px;
  }

  .NavigationItem a:hover {
    color: white;
    text-shadow: 0.1em 0.1em 0.04em rgba(0, 0, 0, 0.5);
  }

  .NavigationItem a:active,
  .NavigationItem a.active {
    border-bottom: 4px dashed #00942c;
    color: white;
  }
}
